/* ------------------------------------ start of ftqr styling */

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-image: url("https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/ftqr-website-background_orig.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #010203;
    font-family: Montserrat;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
}

p {
    margin: auto;
    text-align: center;
    width: 88%;
}

/* --------------------------------------- navbar styling */

.navbar {
    background: #6c1413;
    min-height: 60px;
}

.shop-now-button {
    background: #010203;;
    color: #fefdfa;
    min-width: 260px;
}

.btn-black {
    background: #010203;;
    color: #fefdfa;
}

.btn-black:active,
.btn-black:focus,
.btn-black:hover,
.shop-now-button:active,
.shop-now-button:focus,
.shop-now-button:hover
  {
    background: #2b2b2b;
    color: #fefdfa;
}

.text-black {
    color: #010203;
}

.border-black {
    border: 1px solid #010203;
}

.bg-black {
    background: #010203;
}

/* -------------------------------- t-shirt image sizing */

#dub-direct-need-to-know-white-t-shirt {
    width: "350px";
    height: "350px";
}

#dub-direct-tenement-rydims-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#dub-direct-tenement-rydims-white-t-shirt {
    width:"350px"; 
    height: "350px";
}

#lastwind-monster-trucks-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#lastwind-monster-trucks-white-t-shirt {
    width: "350px";
    height: "350px";
}

#stokes-croft-beatz-2-u-what-income-black-t-shirt {
    width: "350px"; 
    height: "350px"; 
}

#stokes-croft-beatz-2-u-what-income-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

#this-that-the-other-fallen-soldiers-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#this-that-the-other-fallen-soldiers-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

#this-that-the-other-urban-angst-black-t-shirt {
    width: "350px";
    height: "345px";
}

#this-that-the-other-urban-angst-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

/* -------------------------------- cd cover sizing */

#dub-direct-need-to-know {
    width: "350px"; 
    height: "350px";
}

#dub-direct-tenement-rydims {
    width: "350px"; 
    height: "350px";
}

#lastwind-monster-trucks {
    width: "350px"; 
    height: "344px";
}

#this-that-the-other-fallen-soldiers {
    width: "350px"; 
    height: "347px";
}

#this-that-the-other-urban-angst {
    width: "350px"; 
    height: "350px"; 
}

#this-that-the-other-what-income {
    width: "350px"; 
    height: "358px";
}

/* -------------------------------- Media Queries */

  @media (min-width: 1200px) {
      .container {
        max-width: 80%;
      }
    }

  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    }

    @media only screen and (min-width: 601px) {
        p {
          width: 58%;
        }
      }

/* end */