/* ------------------------------------ start of ftqr styling */

html {
    height: 100%;
}

body {
    background-attachment: fixed;
    background-image: url("https://www.bristolcybersolutions.co.uk/uploads/1/4/4/2/144286628/ftqr-website-background_orig.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #010203;
    font-family: Montserrat;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.5;
}

p {
    margin: auto;
    text-align: center;
    width: 88%;
}

/* --------------------------------------- navbar styling */

li a:hover {
    background-color: #92bfbe;
}

.navbar {
    color: #3effff;
    min-height: 60px;
}

nav li {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
    margin-left: 7px;
}

.navbar ul li a{
    color: #3EFFFF;
    margin: auto;
    text-align: center;
}
  
.nav-item {
    color: #3EFFFF; 
}

.nav-link {
    color: #3effff;  
}

.shop-now-button {
    background: #010203;;
    color: #fefdfa;
    min-width: 260px;
}

.btn-black {
    background: #010203;;
    color: #fefdfa;
}

.btn-black:active,
.btn-black:focus,
.btn-black:hover,
.shop-now-button:active,
.shop-now-button:focus,
.shop-now-button:hover
  {
    background: #2b2b2b;
    color: #fefdfa;
}

.border-black {
    border: 1px solid #010203;
}

.bg-black {
    background: #010203;
}



/* -------------------------------- t-shirt image sizing */


#dub-direct-tenement-rydims-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#dub-direct-tenement-rydims-white-t-shirt {
    width:"350px"; 
    height: "350px";
}

#lastwind-monster-trucks-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#lastwind-monster-trucks-white-t-shirt {
    width: "350px";
    height: "350px";
}

#stokes-croft-beatz-2-u-what-income-black-t-shirt {
    width: "350px"; 
    height: "350px"; 
}

#stokes-croft-beatz-2-u-what-income-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

#this-that-the-other-fallen-soldiers-black-t-shirt {
    width: "350px"; 
    height: "345px";
}

#this-that-the-other-fallen-soldiers-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

#this-that-the-other-urban-angst-black-t-shirt {
    width: "350px";
    height: "345px";
}

#this-that-the-other-urban-angst-white-t-shirt {
    width: "350px"; 
    height: "350px";
}

/* -------------------------------- cd cover sizing */


#dub-direct-tenement-rydims {
    width: "350px"; 
    height: "350px";
}

#lastwind-monster-trucks {
    width: "350px"; 
    height: "344px";
}

#this-that-the-other-fallen-soldiers {
    width: "350px"; 
    height: "347px";
}

#this-that-the-other-urban-angst {
    width: "350px"; 
    height: "350px"; 
}

#this-that-the-other-what-income {
    width: "350px"; 
    height: "358px";
}

/*--------------------------------------- flexbox*/

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
  
.flex-container > div {
    margin: 0.4rem;
    padding: 1.2rem;
}

/*--------------------------------------- footer*/


  
.social-networks {
    text-align: center;
}
  
.social-networks li {
    display: inline;
}
  
.social-networks i {
    font-size: 1.0rem;
    margin: 1.25rem;
}
  
#websitecredit {
    color: #2b2b2b;
    font-size: 1.0rem;
    padding-bottom: 1.0rem;
    text-align: center;
}

/* -------------------------------- Media Queries */

@media only screen and (min-width: 601px) {
    .container {
      width: 56%;
    }
  }
  
  @media only screen and (min-width: 601px) {
    p {
      width: 58%;
    }
  }
/* end */