<!-- main navigation bar -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="all-merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Merchandise
            </a>
            <!-- user options -->
            <div class="dropdown-menu" aria-labelledby="all-merchandise-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
            <!-- t shirt link -->
        <li>
            <a class="nav-link" href="#" id="t-shirt-link" aria-haspopup="true" aria-expanded="false">
                T-Shirts
            </a>
        </li>
            <!-- cds link -->
        <li> 
            <a class="nav-link" href="#" id="cds-link" aria-haspopup="true" aria-expanded="false">
                CDs
            </a>
        </li>
            <!-- contact link -->
        <li>
            <a class="nav-link" href="#" id="jf-contact" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>
<!-- end -->