<div class="navbar collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Homepage
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                T-shirts
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CDs
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>

        </li>
    </ul>
</div>