<!-- mobile header -->
<div>
    <ul>
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div>
                        <i class="fas fa-user fa-lg"></i>
                    </div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <!-- superuser product management -->
                        <a href="" class="dropdown-item">Product Management
                        </a>
                    {% endif %}
                        <!-- profile -->
                        <a href="" class="dropdown-item">My Profile
                        </a>
                        <!-- logout -->
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout
                            </a>
                    {% else %}
                        <!-- register -->
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register
                        </a>
                            <!-- login -->
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login
                            </a>
                {% endif %}
            </div>
        </li>
        <!-- shopping bag -->
        <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
                <div class="text-center">
                    <div>
                        <i class="fas fa-shopping-bag fa-lg"></i>
                    </div>
                    <p class="my-0">
                        {% if grand_total %}
                            <!-- two decimal places -->
                            £{{ grand_total|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
        <!-- end of shopping bag -->
    </ul>
</div>
<!-- end -->